body
  /*background-image url(/assets/images/bg-cyan.jpg)*/
  background-size cover
  font 12px 'Cantarell'
.main-wrapper
  padding-left 250px

.page-content-wrapper
  width 100%
  padding-top: 20px
  
  
.fade-effect.ng-enter,
.fade-effect.ng-leave
  -webkit-transition: 0.3s

.fade-effect.ng-enter
  opacity 0

.fade-effect.ng-leave
  opacity 1

.fade-effect.ng-enter.ng-enter-active
  opacity 1

.fade-effect.ng-leave.ng-leave-active
  opacity 0
