doctype html
html(lang="en")
    head
        link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Cantarell')
        link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='styles/main.css')
        script(src='client/app.js')
    body
        div(ng-view)

        script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
